/* Brand Styles */
/* Fonts */
/* 
  'Nunito Bold Italic'
  'Nunito Bold'
  'Nunito Extra Bold'
  'Nunito Extra Bold Italic'
  'Nunito Italic'
  'Nunito Light'
  'Nunito Medium'
  'Nunito Regular' 
*/
:root {
  --purple: #5d4586;
  --dark-blue: #5a9bc9;
  --green: #acce5a;
  --teal: #78c6cd;
  --light-blue: #87c3e9;
  --white: #ffffff;
  --black: #000000;
}
